[Unit]
Description=OpenList Desktop Service
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart={}
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target